################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.dotnet

# Build outputs
**/bin/
**/obj/

# Logs
**/logs/
*.log

# Test artifacts
**/TestResults/
*.trx
*.coverage
*.coveragexml
