################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.dotnet

# Build outputs
**/bin/
**/obj/

# Logs
**/logs/
*.log

# Test artifacts
**/TestResults/
*.trx
*.coverage
*.coveragexml

# Absoulte Build outputs
/src/Gateway/Alphabet.AppWire/bin
/src/Gateway/Alphabet.AppWire/obj
/src/Core/Alphabet.Application/bin
/src/Core/Alphabet.Application/obj
/src/Core/Alphabet.Domain/bin
/src/Core/Alphabet.Domain/obj
/src/Core/Alphabet.Infrastructure/bin
/src/Core/Alphabet.Infrastructure/obj
/src/Modules/Alphabet.CommunicationModule.Api/bin
/src/Modules/Alphabet.CommunicationModule.Api/obj
/src/Modules/Alphabet.IdentityModule.Api/bin
/src/Modules/Alphabet.IdentityModule.Api/obj
/src/Modules/Alphabet.ProductModule.Api/bin
/src/Modules/Alphabet.ProductModule.Api/obj

